{
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "plugins": [],
  "extends": [
    "airbnb-base"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "func-names": 0,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.test.js"]}],
    "import/no-named-defaults": 0,
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": ["session", "message"]
      }
    ],
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id",
          "_ensureIndex"
        ]
      }
    ]
  },
  "globals": {}
}
